@charset "utf-8";
/* CSS Document */
p{width:250px; height:250px;
	padding:0; margin:0;}
div{	width:1000px;
		height:300px;
		border:10px solid #000;
		margin-bottom:300px; }
p.box01{background:red;}		
p.box02{background:yellow;}	
p.box03{background:green;}	

div#boxA>.box01{
	float: left;
	margin-right: 100px;
}
div#boxA>.box02{
	float: left;
	margin-right:50px;
}
div#boxA>.box03{
	float:left;
}

div#boxB>.box01{
	float:left;
	margin-left:50px;
}
div#boxB>.box02{
	float:right;
	margin-right:50px;
}
div#boxB>.box03{
	float:right;
	margin-right:50px;
}

div#boxC>.box01{
	float:right;
	margin-right:50px;
}
div#boxC>.box02{
	float:left;
	margin-left:50px;
}
div#boxC>.box03{
	float:right;
	margin-right:50px;
}
div#boxD{
	height:auto;
	/* height:250px; */
	overflow: hidden;
}
div#boxD>.box01{
	float:left;
}
div#boxD>.box02{
	float:left;
}
div#boxD>.box03{
	float:right;
}

