@charset "utf-8";

/* reset -> 기본 */
#wrap{
    width:600px;
    padding:20px;
    background-color:gold;
    box-sizing:border-box;
    margin: 50px auto;
    font-family: "나눔명조", "바탕", serif;
}
header{
    width:auto;
    background-color:white;
    margin-bottom:20px;
}
h1{
    font:bold 20px/34px "나눔명조", "바탕", serif;
    color:red;
    text-align: center;
}
#contents{
    margin-bottom:20px;
    background-color:green;
    overflow: hidden;
}
#contents>section{
    width:270px;
    font-size:15px;
    line-height:20px;
    text-align:justify;
    box-sizing:border-box;
}
#contents>.left{
    float:left;
    background-color:green;
}
#contents>.right{
    float:right;
    background-color: darkred;
}
footer{
    clear:both;
    background-color:#666;
    font-size: 15px;
    line-height: 36px;
    text-align: center;
}


